body {
  font-family: Helvetica, sans-serif;
}

#main {
  min-width: 500px;
  width: 500px;
  min-height: 10px;
  /* height: 500px; */
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-scaled {
  width: 100%;
}
.clear {
  clear: both;
}

#spinner {
    width: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    margin-top: 40%;
}

#loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
    background-color: white;
    z-index: 700;
}

.elapsed-time-unit {
    display: inline-block;
}

#alert-container {
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
}

#alert-confirm {
    overflow: auto;
}

.alert-confirm-option {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 4px;
    width: 100px;
}

#alert-content {
    margin-top: 25%;
    padding: 20px;
}

.header {
    width: 100%;
    overflow: auto;
    height: 50px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

#header-banner {
    float: left;
}

.header-item {
    cursor: pointer;
    position: absolute;
    right: 35px;
}

#header-item-gear {
    top: 25px;
}

#header-item-button {
    top: 20px;
}
.total-hours-log {
    float: right;
}
.time-entry-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#notes-field {
    display: inline-block;
    width: 300px;
    height: 70px;
}

.time-entry-item {
}

.time-entry-form {
}

.time-entry-form-input {
    width: 80px;
    height: 70px;
    font-size: 30px;
}
.notes-field-container {
    display: inline-block;
}
.fieldtitle {
    margin-top: 10px;
}

.settings-controls a {
    cursor: pointer; 
    cursor: hand; 
}

.settings-controls .tooltip > .tooltip-inner {
    background-color: #563d7c; 
    color: #FFFFFF; 
    border: 1px solid #563d7c; 
    max-width: 1000px;
    height: 22px;
    font-size: 11px;
}

video {
      width: 250px;
}

#filler {
    float: right;
    width: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: x-small;
}

.btn-custom {
    color: #fff;
    background-color: #9B7ABC;
    border-color: #9B7ABC;
}

.btn-custom:hover {
    color: #FBDD40;
}

.btn-group>.btn.active {
  box-shadow: inset 0 0 0 3px #7C6296,inset 0 5px 30px #7C6296;
}