<!Doctype html>
<html ng-app="ClickTimeExtension" ng-csp>
	<head>
        <link rel="stylesheet" href="../css/popup.css">

        <!--<script src="js/lib/jquery-1.8.2.min.js"></script>-->
        <script src="../js/lib/angular.min.js"></script>

        <script src="../js/app/app.js"></script>

        <!-- Services -->
        <script src="../js/services/APIService.js"></script>
        <!--||||||||||-->

        <script src="../js/app/LoginController.js"></script>
    </head>
    <body id="popup">
    	<header>
    		<h1>Login</h1>
    	</header>


    	<!-- TODO: Add required fields and anuglar directives  -->

    	<div ng-controller="LoginController">
    		<form>
			Email:<br>
				<input type="text" ng-model="user.email" placeholder="santa@clicktime.com">
			<br>
			Password:<br>
				<input type="password" ng-model="user.password" placeholder="********">
			</form>

			<input type="submit" ng-click="login(user)" value="Login"/>
    	</div>
    </body>
</html>