<!DOCTYPE html>
<html>
<head>
    <title>Options</title>
    <script src="../js/lib/jquery-1.11.3.min.js"></script>
    <script src="../js/app/options.js"></script>
</head>
<body>

<label>
    Default time entry method:<br>
    <select id="timeEntryMethod">
         <option value="Hours" id="hours">Total Hours</option>
         <option value="Start/End Times" id="start-end">Start / End Times</option>
         <option value="Stopwatch" id="stopwatch">Stopwatch</option>
    </select>
</label>
<div id="status"></div>
</body>
</html>
