<!DOCTYPE html>
<html ng-app="ClickTimeExtension" ng-csp>
    <head>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/popup.css">
        <!-- libraries -->
        <script src="../js/lib/jquery-1.11.3.min.js"></script>
        <script src="../js/lib/angular.min.js"></script>
        <script src="../js/app/app.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <!-- FIX! -->
        <script src="../js/lib/format.js"></script>
        <script src="../js/lib/customSelect.js"></script>


        <!-- Services -->
        <script src="../js/services/APIService.js"></script>
        <script src="../js/services/EntityService.js"></script>
        <script src="../js/app/PageController.js"></script>

        <!-- Objects -->
        <script src="../js/services/StopWatch.js"></script>
    </head>
    <body id="popup">
        <header>
            <h1>Time Tracking!</h1>
        </header>
        <div ng-controller="PageController">
            <button ng-click="startStopWatch()">Start time</button>
            <button ng-click="stopStopWatch()">Stop time</button>
            <button ng-click="logout()">Sign Out</button>
            <button ng-click="refresh()">Refresh</button>
            <h1>Time elapsed: <span ng-model="DisplayTime">{{DisplayTime}}</span></h1>

            <div class="emptylistmessage" ng-show="IsManagerOrAdmin && HasEmptyEntities">You first need to add at least one client, job, and task to begin tracking <a href="https://app.clicktime.com/?dest=App/Dashboard" target="_blank">time</a>.</div>

            <div class="emptylistmessage" ng-show="!IsManagerOrAdmin && HasEmptyEntities">Please contact your manager or administrator and have them add at least one client, job, and task so you can begin tracking time.
            </div>
            
            <h1>Client: </h1>
            <div custom-select ng-model="client" ng-options="client as client.DisplayName for client in clients">
            </div>
            

            <h1>Job: </h1>
            <div custom-select ng-model="job" ng-options="job as job.DisplayName for job in jobs">
            </div>

            <h1>Task: </h1>
            <div custom-select ng-model="task" ng-options="task as task.DisplayName for task in tasks">
            </div>
        </div>
    </body>
</html>

