<!DOCTYPE html>
<html ng-app="ClickTimeExtension" ng-csp>
    <head>
        <link rel="stylesheet" href="../css/popup.css">

        <!--<script src="js/lib/jquery-1.8.2.min.js"></script>-->
        <script src="../js/lib/angular.min.js"></script>

        <script src="../js/app/app.js"></script>

        <!-- Services -->
        <script src="../js/services/APIService.js"></script>
        <!--||||||||||-->


        <script src="../js/app/PageController.js"></script>
    </head>
    <body id="popup">
        <header>
            <h1>ClickTime Tracking!</h1>
        </header>

        <div ng-controller="PageController">
            <h1>{{UserName}}</h1>
            <h1>{{CompanyName}}</h1>
        </div>
    </body>
</html>