<!DOCTYPE html>
<html ng-app="ClickTimeExtension" ng-csp>
    <head>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/popup.css">
        <link rel="stylesheet" href="../css/angular-csp.css">
        <!-- libraries -->
        <script src="../js/lib/jquery-1.11.3.min.js"></script>
        <script src="../js/lib/angular.min.js"></script>
        <script src="../js/app/app.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/lib/format.js"></script>
        <script src="../js/lib/customSelect.js"></script>


        <!-- Services -->
        <script src="../js/services/APIService.js"></script>
        <script src="../js/services/CTService.js"></script>
        <script src="../js/services/EntityService.js"></script>
        <script src="../js/services/TimeEntryService.js"></script>

        <!-- Controllers -->
        <script src="../js/app/PageController.js"></script>

        <!-- Objects -->
        <script src="../js/services/StopWatch.js"></script>
    </head>
    <body id="popup">
        <div id="overlay"></div>

        <header>
            <h1>Time Tracking!</h1>
        </header>
        <div ng-controller="PageController">
            <div id="devtools" ng-show="isDev">
                <button ng-click="devShowStopwatch()">Stopwatch</button>
                <button ng-click="devShowStartEndTimes()">Start/End Times</button>
                <button ng-click="devShowTimeEntryField()">Time Entry</button>
            </div>

            <button ng-click="startStopWatch()" ng-show="showStopwatch">Start time</button>
            <button ng-click="stopStopWatch()" ng-show="showStopwatch">Stop time</button>
            <button ng-click="logout()">Sign Out</button>

            <button ng-click="saveTimeEntry(Session, timeEntry)">Save Time</button>
            
           

            <div class="refresh-container">
                <div class="refresh-message">
                    Can't find a recently created client, job, or task?
                </div>
                <button ng-click="refresh()">Refresh</button>
            </div>

            <div class="time-entry-container">
                <form name="time-entry-form">
                    <label ng-show="showTimeEntryField">
                        Hours:
                        <input type="text" ng-model="timeEntry.Hours" ng-blur="roundHour(user.timeEntry, 0.25)">
                    </label>

                    <label ng-show="true">
                        Start time:
                        <input type="time" ng-model="timeEntry.ISOStartTime">
                        End time:
                        <input type="time" ng-model="timeEntry.ISOEndTIme">
                    </label>

                    <label ng-show="showStopwatch">
                        Timer:
                        <span>{{DisplayTime}}</span>
                    </label>
                </form>
            </div>

            <div class="emptylistmessage" ng-show="IsManagerOrAdmin && HasEmptyEntities">You first need to add at least one client, job, and task to begin tracking <a href="https://app.clicktime.com/?dest=App/Dashboard" target="_blank">time</a>.</div>

            <div class="emptylistmessage" ng-show="!IsManagerOrAdmin && HasEmptyEntities">Please contact your manager or administrator and have them add at least one client, job, and task so you can begin tracking time.
            </div>
            
            <h3>Client: </h3>
            <div custom-select ng-model="client" ng-options="client as client.DisplayName for client in clients" ng-click="addEntityTimeEntry('client', client)">
            </div>
            

            <h3>Job: </h3>
            <div custom-select ng-model="job" ng-options="job as job.DisplayName for job in jobs" ng-click="addEntityTimeEntry('job', job)">
            </div>

            <h3>Task: </h3>
            <div custom-select ng-model="task" ng-options="task as task.DisplayName for task in tasks" ng-click="addEntityTimeEntry('task', task)">
            </div>
        </div>
    </body>
</html>

