
<div id="filler">
    <video controls muted autoplay name="media">
        <source src="../img/dogscatsandmoreohmy.mp4" type="video/mp4">
        "Your browser does not support HTML5 video."
    </video>
    <em>"I just want you to love me!!!"</em>
</div>

<br>
<div ng-hide="requireStartEndTime" id="timeEntryMethod" class="btn-group">
    <h5>Time Entry Method</h5>   
    <button id="duration" type="button" class="btn btn-info">Duration</button>
    <button id="start-end" type="button" class="btn btn-info">Start & End Times</button>
<div id="status"></div>
</div>


<br><br>
<div>
    <input id="reminder-toggle" type="checkbox"> Allow Reminders<br>
</div>
<br>
<div class="settings-controls" ng-controller="TimeEntryController">
    <a ng-click="refresh()" my-tooltip="#tooltip" data-placement="right">Refresh Lists</a><br>
    <span id="tooltip" ng-hide="true">Updates your {{customTerms.clientTermSingHigh}}, {{customTerms.jobTermSingHigh}}, and {{customTerms.taskTermSingHigh}} lists and settings.</span><br>
    <a ng-click="logout()">Sign out of ClickTime</a>
</div>
<br>
<a href="http://www.clicktime.com/company/contact" target="_blank">Contact Us</a>

<!-- 
<div>
    Default time entry method:<br>
    <select id="timeEntryMethod">
         <option value="Hours" id="hours">Total Hours</option>
         <option value="Start/End Times" id="start-end">Start / End Times</option>
         <option value="Stopwatch" id="stopwatch">Stopwatch</option>
    </select>
</div> -->