<button id="header-item-button" type="button" class="btn btn-custom header-item" ng-click="timeEntryPage()">
    Back to tracking time
</button>

<h3>Settings</h3>

<div class="settings-column" id="settings-column-left">
    <div ng-hide="requireStartEndTime" class="btn-group icon-group">
        <h5>Time Entry Method</h5>
        <button id="duration" type="button" class="btn btn-custom">Duration</button>
        <button id="start-end" type="button" class="btn btn-custom">Start & End Times</button>
    </div>

    <div class="settings-controls icon-group" ng-controller="TimeEntryController">
        <button ng-click="refresh()" my-tooltip="#tooltip" data-placement="top" class="btn btn-custom settings-width" id="refresh-button"> <i class="fa fa-refresh"></i>&nbsp; Refresh Lists</button>
        <span id="tooltip" ng-hide="true">Updates your {{customTerms.clientTermSingHigh}}, {{customTerms.jobTermSingHigh}}, and {{customTerms.taskTermSingHigh}} lists and settings.</span>
        <div id="refresh-status"></div>
    </div>



    <input class="icon-group" id="reminder-toggle" type="checkbox"> Allow Reminders

</div>


<div class="settings-column">
    <button class="settings-width btn btn-custom settings-btn icon-group" id="settings-help"> <i class="fa fa-info-circle"></i>&nbsp; Help with ClickTime for Chrome</button>
    
    <a href="http://www.clicktime.com/company/contact" target="_blank">
        <button class="settings-width btn btn-custom settings-btn icon-group"><i class="fa fa-phone"></i>&nbsp;
            Contact Us
        </button>
    </a>

    <button id="sign-out" class="settings-width icon-group btn btn-custom settings-btn" ng-controller="TimeEntryController" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;
        Sign out of ClickTime
    </button>
</div>
