<button id="back-to-homepage" type="button" class="btn btn-custom header-item" ng-click="timeEntryPage()">
    <img id='stopwatchIcon' src="../img/stopwatchicon.png">Back to timer
</button>

<div id="page-wrapper">

    <div id="settings-top-container">
        <h3 id="settings-title-text">Settings</h3>

        <div id="refresh-status"></div>

        <div ng-class="{'top-bumper' : requireStartEndTime}" class="settings-controls" ng-controller="TimeEntryController" id="refresh-container">

            <div ng-click="refresh()" class="btn btn-custom settings-width" id="refresh-button">
                Refresh my lists<i my-tooltip="#tooltip" data-placement="bottom" class="fa fa-question-circle"></i>
            </div>
            
            <span id="tooltip" ng-hide="true">Refresh data for your {{customTerms.clientTermSingHigh}}, {{customTerms.jobTermSingHigh}}, and {{customTerms.taskTermSingHigh}} lists</span>
            
        </div>

        

    </div>


    <div class="settings-column" id="settings-column-left">
        <div ng-class="{'no-display': requireStartEndTime }" id="time-entry-method-container" class="btn-group">
            <h5 id="entry-method-toggle-text">Time Entry Method</h5>
<!--             <button id="duration" type="button" class="btn btn-custom">Duration</button>
            <button id="start-end" type="button" class="btn btn-custom">Start & End Times</button> -->

            <label><input id="duration" type="radio" name="duration" value="1" class="btn btn-custom entry-method-toggle">Duration</label>
            
            <label><input id="start-end" type="radio" name="start-end" value="2" class="btn btn-custom entry-method-toggle">Start & End Times</label>
            <p id="warning">Note: Changing your default time entry method will erase any unsaved time entries</p>
        </div>

        <div id="settings-horizontal-line-spacer"></div>


        <div id="checkbox-wrapper">
        <label id='reminder-toggle-text'><input id="reminder-toggle" type="checkbox"> Remind me to track my time</label>
        </div>
    </div>

    <div id="settings-vertical-line-spacer"></div>

    <div class="settings-column" id="settings-column-right">
        
        <a href="../help/help.html" target="_blank">
            <button class="settings-width btn btn-custom settings-btn top-bumper" id="settings-help"><i class="fa fa-file"></i>&nbsp; Help Guide</button>
        </a>

        <a id="contact-us-link" tabIndex="-1" href="http://www.clicktime.com/company/contact" target="_blank">
            <button class="settings-width btn btn-custom settings-btn" id="contact-us"><i class="fa fa-phone"></i>&nbsp;
                Contact Us
            </button>
        </a>

        <a href="https://docs.google.com/forms/d/1b2yJ-LnqDH_6Mvu1u6Ml3eKidXlhewXKItJzDZyVBJY/viewform?usp=send_form" target="_blank">
            <button class="feedback-container btn btn-custom settings-button" id="feedback" my-tooltip="#tooltip-feedback" data-placement="bottom"><i class="fa fa-bullhorn"></i>&nbsp;
                Feedback
            </button>
            <span id="tooltip-feedback" ng-hide="true">Tell us what you think!</span>
        </a>

        


    </div>

    <div id="settings-bottom-container">

        <button id="sign-out" class="settings-width btn btn-custom settings-btn" ng-controller="TimeEntryController" ng-click="logout()">
        Sign out
        </button>

    </div>

</div>