<h1>Time Entry</h1>


<div id="loading-mask" ng-hide="pageReady">
    <div id="spinner"><img src="../img/spinner_white.gif"  class="img-scaled"></div>
</div>

<button ng-click="logout()">Sign Out</button>

<button ng-click="saveTimeEntry(Session, timeEntry)">Save Time</button>


<div class="refresh-container">
    <div class="refresh-message">
        Can't find a recently created client, job, or task?
    </div>
    <button ng-click="refresh()">Refresh</button>
</div>

<div class="time-entry-container">
	<div class="time-entry-select">Time entry method:</div>
	<div custom-select ng-model="timeEntryMethod" ng-options="method for method in timeEntryMethods" ng-click="changeTimeEntryMethod(timeEntryMethod)"></div> 

    <form name="time-entry-form" novalidate>
        <div id="time-entry-options" ng-show="showOptionsMessage">You can set a default time entry method in the extension <a href="options.html" target="_blank">options.</a></div>

        <label ng-show="showHourEntryField">
            Hours:
            <input type="text" name="hours" ng-model="timeEntry.Hours" ng-blur="roundHour(timeEntry.Hours, 0.25)" ng-focus="clearError('hours')">
            <span style="color:red" ng-show="timeEntryErrorHoursZero"><p>Cannot enter 0 hours.</p></span>
            <span style="color:red" ng-show="timeEntryErrorHoursInvalid"><p>Please make sure your daily hourly total is less than 24 hours.</p></span>
        </label>

        <label ng-show="showStartEndTimes">
            Start time:
            <input type="time" placeholder="HH:mm:ss" ng-model="timeEntry.ISOStartTime" ng-focus="clearError('startEndTimes')" required>
            End time:
            <input type="time" placeholder="HH:mm:ss" ng-model="timeEntry.ISOEndTime" ng-focus="clearError('startEndTimes')" required>
            <span style="color:red" ng-show="timeEntryErrorStartEndTimesInvalid">    
			    <p>Please make sure your daily hourly total is less than 24 hours.</p>
			</span>
            <span style="color:red" ng-show="timeEntryErrorStartEndTimesNegative">    
                <p>Please enter an end time later than your start time.</p>
            </span>

        </label>

        <label ng-show="showStopwatch">
            Timer:
            <div id="stopwatch" ng-controller="StopwatchController">
                <div id='elapsed-time'>
                    <div class='elapsed-time-unit' id='hrs'>{{elapsedHrs}}</div>
                    <div class='elapsed-time-unit'>:</div>
                    <div class='elapsed-time-unit' id='min'>{{elapsedMin}}</div>
                    <div class='elapsed-time-unit'>:</div>
                    <div class='elapsed-time-unit' id='sec'>{{elapsedSec}}</div>

                </div>

                <button id="start" class="btn btn-success" ng-click="start()" ng-hide="running">Start</button>
                <button id="stop" class="btn btn-danger" ng-click="stop()" ng-hide="!running">Stop</button>
            </div>
            <span style="color:red" ng-show="timeEntryErrorHoursZero"><p>Cannot enter 0 hours.</p></span>
            <span style="color:red" ng-show="timeEntryErrorHoursInvalid"><p>Please make sure your daily hourly total is less than 24 hours.</p></span>
        </label>
    </form>
</div>

<div class="emptylistmessage" ng-show="IsManagerOrAdmin && HasEmptyEntities">You first need to add at least one client, job, and task to begin tracking <a href="https://app.clicktime.com/?dest=App/Dashboard" target="_blank">time</a>.</div>

<div class="emptylistmessage" ng-show="!IsManagerOrAdmin && HasEmptyEntities">Please contact your manager or administrator and have them add at least one client, job, and task so you can begin tracking time.
</div>

<h3>Client: </h3>
<div custom-select ng-model="client" ng-options="client as client.DisplayName for client in clients" ng-click="addEntityTimeEntry('client', client)">
</div>


<h3>Job: </h3>
<div custom-select ng-model="job" ng-options="job as job.DisplayName for job in jobs" ng-click="addEntityTimeEntry('job', job)">
</div>

<h3>Task: </h3>
<div custom-select ng-model="task" ng-options="task as task.DisplayName for task in tasks" ng-click="addEntityTimeEntry('task', task)">
</div>


