<div id="header-item-gear" class="header-item" ng-click="settingsPage()">
      <img src="../img/preferences_icon.png" class="img-scaled">
</div>

<div id="loading-mask" ng-hide="pageReady">
    <div id="spinner"><img src="../img/spinner_white.gif"  class="img-scaled"></div>
</div>

<div ng-show="IsManagerOrAdmin || ! HasEmptyEntities">

    <div class="total-hours-log">{{totalHoursLogMessage}} <a href="http://app.clicktime.com/?dest=App%2FDayView%2F" target="_blank">My Timesheet</a></div>

    <div class="clear"></div>

    <div class="fieldtitle">{{customTerms.clientTermSingHigh}}/{{customTerms.jobTermSingHigh}}:</div>
    <div custom-select ng-model="jobClient" ng-options="jobClient as jobClient.DisplayName for jobClient in jobClients" ng-click="addEntityTimeEntry('jobClient', jobClient)" ng-disabled="abandonedStopwatch" id="jobClient-dropdown" ng-focus="clearError('jobClient')"></div>

    <div class="fieldtitle">{{customTerms.taskTermSingHigh}}:</div>
    <div custom-select ng-model="task" ng-options="task as task.DisplayName for task in tasks" ng-click="addEntityTimeEntry('task', task)" ng-disabled="abandonedStopwatch" id="task-dropdown" ng-focus="clearError('task')">
    </div>


    <!-- Notes field -->
    <form name="entry" class="notes-field-container">
        <div class="fieldtitle">Notes:</div>
        <p ng-show="user.RequireComments" style="color: red">* required</p>
        <textarea id="notes-field" name="text" ng-model="timeEntry.Comment" placeholder="Notes" rows="4" cols="50" maxlength="4000" ng-maxlength="4000" ng-focus="clearError('notes')" ng-blur="updateNotes()"></textarea><br> 
        <!-- <span ng-show="entry.text.$dirty && entry.text.$invalid"> 
            <span>Oops! Please limit your note to 4000 characters.</span>
        </span> -->
       <!--  <span ng-show="timeEntryErrorMissingNotes"> 
            <span style="color:red">Oops! Please enter some notes in order to save this entry.</span>
        </span> -->
    </form>


    <!-- Time entry form -->
    <div class="time-entry-container">

        <div class="time-entry-item" id="time-entry-item-hours" ng-show="showHourEntryField && !abandonedStopwatch && !runningStopwatch">
            <div class="fieldtitle time-entry">Hours</div>
            <div class="time-entry-form">
                <input class="time-entry-form-input" id="time-entry-form-hours" type="text" name="hours" ng-model="timeEntry.Hours" ng-blur="roundHour(timeEntry.Hours, company.MinTimeIncrement)" ng-focus="swapAction('hours')" ng-disabled="runningStopwatch" placeholder="0:00">
            </div>
            <div class="time-entry-item-clear" ng-click="clearHours()" ng-hide="runningStopwatch">Clear hours</div>
        </div>

        <div class="time-entry-item" id="time-entry-item-start" ng-show="showStartEndTimes && !abandonedStopwatch">
            <div class="fieldtitle time-entry">Start</div>
            <div class="time-entry-form">
                <input class="time-entry-form-input" id="time-entry-form-start" type="text" name="start" ng-model="timeEntry.ISOStartTime" ng-blur="validateStartEndTimes(timeEntry.ISOStartTime, timeEntry.ISOEndTime)" ng-focus="swapAction('startTime')"  ng-disabled="runningStopwatch" placeholder="{{defaultStartEndTime}}">
            </div>
        </div>

        <div class="time-entry-item" id="time-entry-item-end" ng-show="showStartEndTimes && !abandonedStopwatch">
            <div class="fieldtitle time-entry">End</div>
            <div class="time-entry-form">
                <input class="time-entry-form-input" id="time-entry-form-end" type="text" name="end" ng-model="timeEntry.ISOEndTime" ng-blur="validateStartEndTimes(timeEntry.ISOStartTime, timeEntry.ISOEndTime)" ng-focus="swapAction('endTime')"  ng-disabled="runningStopwatch" placeholder="{{defaultStartEndTime}}">
            </div>
        </div>

        <div class="time-entry-item" id="time-entry-item-stopwatch" ng-show="runningStopwatch && !showStartEndTimes">
            <div class="fieldtitle time-entry">Timer</div>
            <div class="time-entry-form">
                <input class="time-entry-form-input" id="time-entry-form-timer" type="text" name="hours" ng-model="timerDisplay" ng-disabled="true">
            </div>
        </div>

    </div>

    <div class="clear"></div>


    <span style="color:red" ng-show="generalError">
        <p>{{errorMessage}}</p>
    </span>

    <span style="color:green" ng-show="generalSuccess">
        <p>{{successMessage}}</p>
    </span>

    <button id="save-time-entry" class="btn btn-success action-button" ng-click="saveTimeEntry(Session, timeEntry)" ng-disabled="abandonedStopwatch || generalError" ng-hide="showStartTimer || runningStopwatch">Save</button>

    <button id="start-stopwatch" class="btn btn-success action-button" ng-click="startStopwatch()" ng-show="showStartTimer && !runningStopwatch" ng-disabled="generalError">Start Timer</button>

    <button id="stop-stopwatch" class="btn btn-danger action-button" ng-click="stopStopwatch()" ng-show="runningStopwatch">Stop/Save</button>

    <button id="clear-time-entry" class="btn btn-default action-button" ng-click="clearTimeEntry()" ng-show="runningStopwatch || !showStartTimer || showStartEndTimes && !abandonedStopwatch">Cancel</button>

    <div id="running-stopwatch-gif" ng-show="runningStopwatch && showStartEndTimes">
        <img src="../img/Clock.gif" class="img-scaled">
    </div>

    <div class="hidden" ng-controller="StopwatchController">
    </div>


</div>




<!-- <div class="time-entry-container">
        <form name="time-entry-form" novalidate>
        <div id="time-entry-options" ng-show="showOptionsMessage">You can set a default time entry method in the extension <a href="options.html" target="_blank">options.</a></div>

        <label ng-show="showHourEntryField && !abandonedStopwatch">
            Hours:
            <input type="text" name="hours" ng-model="timeEntry.Hours" ng-blur="roundHour(timeEntry.Hours, company.MinTimeIncrement)" ng-focus="clearError('hours')">
            <span style="color:red" ng-show="timeEntryErrorHoursZero"><p>Oops! Please log some time in order to save this entry.</p></span>
            <span style="color:red" ng-show="timeEntryErrorHoursInvalid"><p>Please make sure your daily hourly total is less than 24 hours.</p></span>
            <span style="color:red" ng-show="timeEntryErrorHoursNumeral"><p>Please enter time using only numerals and decimals.</p></span>
        </label>


        <p ng-show="abandonedStopwatch" style="color:red">You have an abandoned stopwatch. Please enter a new start and end time, or cancel the stopwatch entry.</p>
        <label ng-show="showStartEndTimes || abandonedStopwatch">
            Start time:
            <input type="time" placeholder="HH:mm:ss" ng-model="timeEntry.ISOStartTime" ng-focus="clearError('startEndTimes')" required>
            End time:
            <input type="time" placeholder="HH:mm:ss" ng-model="timeEntry.ISOEndTime" ng-focus="clearError('startEndTimes')" required>
            <span style="color:red" ng-show="timeEntryErrorStartEndTimesInvalid">    
			    <p>Please make sure your daily hourly total is less than 24 hours.</p>
			</span>
            <span style="color:red" ng-show="timeEntryErrorStartEndTimesNegative">    
                <p>Please enter an end time later than your start time.</p>
            </span>

        </label>
        <div id="abandoned-stopwatch-confirm" ng-show="abandonedStopwatch">
            <button class="btn btn-success" ng-click="saveTimeEntry(Session, timeEntry)">Save Time</button>
            <button class="btn btn-danger" ng-click="cancelAbandonedStopwatch()">Cancel</button>
        </div>

        <label ng-show="showStopwatch && !abandonedStopwatch">
            Timer:
            <div id="stopwatch" ng-controller="StopwatchController">
                <div id='elapsed-time'>
                    <div class='elapsed-time-unit' id='hrs'>{{elapsedHrs}}</div>
                    <div class='elapsed-time-unit'>:</div>
                    <div class='elapsed-time-unit' id='min'>{{elapsedMin}}</div>
                    <div class='elapsed-time-unit'>:</div>
                    <div class='elapsed-time-unit' id='sec'>{{elapsedSec}}</div>

                </div>

                <button id="start" class="btn btn-success" ng-click="start()" ng-hide="running">Start</button>
                <button id="stop" class="btn btn-danger" ng-click="stop()" ng-hide="!running">Stop/Save</button>
            </div>
            <span style="color:red" ng-show="timeEntryErrorHoursZero"><p>Oops! Please log some time in order to save this entry.</p></span>
            <span style="color:red" ng-show="timeEntryErrorHoursInvalid"><p>Please make sure your daily hourly total is less than 24 hours.</p></span>
        </label>
    </form>
</div> -->

<br>
<div class="emptylistmessage" ng-show="IsManagerOrAdmin && HasEmptyEntities">You first need to add at least one {{customTerms.clientTermSingLow}}, {{customTerms.jobTermSingLow}}, and {{customTerms.taskTermSingLow}} to begin tracking <a href="https://app.clicktime.com/?dest=App/Dashboard" target="_blank">time</a>.</div>

<div class="emptylistmessage" ng-show="!IsManagerOrAdmin && HasEmptyEntities">Please contact your manager or administrator and have them add at least one {{customTerms.clientTermSingLow}}, {{customTerms.jobTermSingLow}}, and {{customTerms.taskTermSingLow}} so you can begin tracking time.
</div>


   

    



